<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base href="{{compiler.publicPath}}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <link rel="shortcut icon" href="favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
  {{#if compiler.isProduction}}
  <link rel="stylesheet" href="{{compiler.hash}}.css">
  {{/if}}
</head>
<body>
  <main>
    <img src="brostart.gif" alt="brostart logo">
    <p>{{nl2br message}}</p>
  </main>
  <script src="{{compiler.hash}}.js"></script>
</body>
</html>